/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/
/* General Styles */

html {
	background-image: url('/images/bg_stripes.png');
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#4D4D4D;
}

ul	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	list-style: none outside none;
	color:#4D4D4D;
}

#page h1, #page h2, #page h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4D4D4D;
	margin-top:0px;
}

#page h2 {
	font-size:18px;
}

#page h3 {
	font-size:16px;
}

#page a {
	color:#09F;
	text-decoration:none;
}

#flash.flash.flash_notice {
	padding: 10px;
	margin-bottom:15px;
	border: 1px solid #7FCDEE;
	background: rgba(212, 238, 249, 0.8);
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#4D4D4D;
}

/* Main Layout */

#body_content_left {
    float: left;
    width: 582px; /* Modified from Default */
}
#body_content_right {
    float: right;
    width: 388px; /* Modified from Default */
}

/* Header Styles */

#logo {
	position:relative;
	height:80px;
	margin-bottom: 18px;
	border:1px solid #CCCCCC;
	/* Gradient Background */
	background: #F2F2F2; /* fallback */
	background: -moz-linear-gradient(top, #FFF, #F2F2F2); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #F2F2F2)); /* Saf4+, Chrome en adelante*/
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

#logo a {
	visibility: hidden;
}

#logo a:before {
	content:'';
	visibility: visible;
	position:absolute;
	top:14px;
	left:12px;
	display:inline-block;
	width:222px;
	height:52px;
	background-image: url('/images/logo_padma_big.png');
}

#logo a:after {
	content:'';
	visibility: visible;
	position:absolute;
	bottom:8px;
	right:15px;
	display:inline-block;
	width:195px;
	height:28px;
	background-image: url('/images/text_support.png');
}

/* Page Styles */

#page {
	margin-top:15px;
	padding: 15px;
	width: 970px;
	border:1px solid #CCCCCC;
	background: rgba(255, 255, 255, 0.8);
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */	
}

#body_content_right ul {
	padding: 15px;
	margin-bottom:15px;
	border: 1px solid #FFF;
	background: #F2F2F2;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

#body_content_right ul li a {
	margin:auto;
}

/* Footer Styles */

footer {
	position:relative;
	height:43px;
	margin-top:15px;
	margin-bottom:20px;
	border:1px solid #CCCCCC;
	/* Gradient Background */
	background: #F2F2F2; /* fallback */
	background: -moz-linear-gradient(top, #FFF, #F2F2F2); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #F2F2F2)); /* Saf4+, Chrome en adelante*/
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

footer:after {
	content:'';
	position:absolute;
	top:5px;
	right:10px;
	display:inline-block;
	width:36px;
	height:36px;
	background-image: url('/images/logo_padma_small_grey.png');
}

footer p {
	margin-top:15px;
	margin-left:10px;
	font-weight:bold;
	color:#CECECE;
}

footer a{
	color:#09F;
	font-weight:bold;
	text-decoration:none;
}

footer a:before {
	content:' · ';
	color:#09F;
	font-weight:bold;
	text-decoration:none;
}

/* Menu Styles */

.menu ul {
    margin: 0px 0px;
    padding:0;
	overflow:auto;
	border:1px solid #7FCDEE;
	background: rgba(212, 238, 249, 0.8);
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}
.menu li {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 0;
    padding: 0;
	border-right:1px solid #7FCDEE;
}
.menu li.last {
    margin-right: 0;
}
.menu li.selected > a {
    font-weight: bold;
}

.menu li a {
    display:inline-block;
	width:auto;
	padding: 6px 10px 6px 10px; 
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#09F;
	font-weight:bold;
	text-decoration:none;
}

/* Page Specific Styles */

/* Noticias */

#page p small {
	position:relative;
	top:-10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#4D4D4D;
}

/* Blog */

#page #blog_posts header h1, #page #show_blog_post header h1 {
	margin-bottom:12px;
}


#page #blog_posts header .details, #page #show_blog_post header .details {
 	position:relative;
	width: 560px;
	height:20px;
	padding:10px 10px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#4D4D4D;
	border-top: 1px dashed #CCCCCC;	
}

#page #blog_posts header .details aside, #page #show_blog_post header .details aside {
	float:right;
}

#page #blog_posts footer {
	position:relative;
	width: 570px;
	margin-top:15px;
	margin-bottom:0px;
	border: none;
	background: #f2f2f2;
	/* Rounded Corners */
	-webkit-border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 0px #D8D8D8; -moz-box-shadow: 0 0 0px #D8D8D8; box-shadow: 0 0 0px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

#page #blog_posts footer p {
	float:left;
}

#page #blog_posts footer aside {
	float:right;
	margin:15px 10px 12px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#4D4D4D;
}

#body_content_right #rss_feed_subscribe {
	display:block;
	padding: 15px;
	margin-bottom:15px;
	border: 1px solid #FFF;
	background: #F2F2F2;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	list-style: none outside none;
}

/* Comments */

#comments {
	padding-top:10px;
	border-top: 1px dashed #CCCCCC;	
}

#comments .blog_comment_message  {
	padding:15px 15px 10px 15px;
	margin-bottom:15px;
	border: 1px solid #CCC;
	background: #FFF;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	list-style: none outside none;
}

#comments .blog_comment_message img {
	float:left;
	margin-right:15px;
}

#comments .blog_comment_message p {
	display:block;
	min-height:60px;
	margin-top:0px;
	margin-bottom:15px;
}

#comments .blog_comment_message footer {
	background:none;
	width:auto;
	height:auto;
	padding:10px 10px 0px 0px;
	margin:0px;
	border: 0px;
	border-top:1px dashed #CCC;
	/* Rounded Corners */
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 0px #D8D8D8; -moz-box-shadow: 0 0 0px #D8D8D8; box-shadow: 0 0 0px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

#comments .blog_comment_message footer p {
	min-height:0px;
	margin:0px;
}

#new_blog_comment {
	overflow:auto;
	display:block;
	padding: 15px;
	margin-bottom:5px;
	border: 1px solid #FFF;
	background: #F2F2F2;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	list-style: none outside none;
}

#new_blog_comment label {
	display: inline-block;
	width:100px;
	height:20px;
}

#new_blog_comment input, #new_blog_comment textarea {
	padding:2px 2px;
	margin-bottom:10px;
	height:20px;
	width:430px;
	border: 1px solid #CCC;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */	
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

#new_blog_comment textarea {
	height:100px;
}

#new_blog_comment .field.message_field label {
	vertical-align: top;
	margin-top:5px;
} 

#new_blog_comment .field.form-actions input {
	width:auto;
	height:auto;
	padding:5px;
	float:right;
	margin-right:1px;
	margin-top:5px;
	margin-bottom:0px;
	border: 1px solid #60AFFE;
	/* Gradient Background */
	background: #B0E2FF; /* fallback */
	background: -moz-linear-gradient(top, #B0E2FF, #5CACEE); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B0E2FF),color-stop(1, #5CACEE)); /* Saf4+, Chrome en adelante*/
	font-weight:bold;
	color:#fff;
}

/* Contact Form */

.inquiries > p {
	margin-top:0px;
}

#new_inquiry {
	overflow:auto;
	display:block;
	padding: 15px;
	margin-bottom:5px;
	border: 1px solid #FFF;
	background: #F2F2F2;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	list-style: none outside none;
}

#new_inquiry label {
	display: inline-block;
	padding-top:2px;
	width:100px;
	height:18px;
}

#new_inquiry input, #new_inquiry textarea {
	padding:2px 2px;
	margin-top:0px;
	margin-bottom:0px;
	height:20px;
	width:430px;
	border: 1px solid #CCC;
	/* Rounded Corners */
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */	
	/* Box Shadows */
	-webkit-box-shadow: 0 0 2px #D8D8D8; -moz-box-shadow: 0 0 2px #D8D8D8; box-shadow: 0 0 2px #D8D8D8; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

#new_inquiry textarea {
	height:100px;
}

#new_inquiry .field label {
	vertical-align: top;
	margin-top:5px;
} 

#new_inquiry .actions input {
	float:right;
	width:auto;
	height:auto;
	padding:5px;
	margin:5px 4px 0px 0px;
	border: 1px solid #60AFFE;
	/* Gradient Background */
	background: #B0E2FF; /* fallback */
	background: -moz-linear-gradient(top, #B0E2FF, #5CACEE); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B0E2FF),color-stop(1, #5CACEE)); /* Saf4+, Chrome en adelante*/
	font-weight:bold;
	color:#fff;
}